.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

body {
    font-size: 1rem;
    max-width: 1280px;
}

h1 {
    font-size: 2rem;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: darkSlateGrey;
}

.siteLinks {
    display: flex;
    flex-direction: row;
    justify-contents: center;
    align-items: center;
}

.site {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-contents: center;
    align-items: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: darkCyan;
}
